<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CIMCollect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <CIMCollect.Properties.Settings>
            <setting name="IgnoreFilesInFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>:\windows</string>
                        <string>:\winnt</string>
                        <string>LogiOptions</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AuditFilesOfType" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.exe</string>
                        <string>.dll</string>
                        <string>.js</string>
                        <string>.aspx</string>
                        <string>.asmx</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IgnoreFilesOfType" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.bin</string>
                        <string>.sys</string>
                        <string>.cpl</string>
                        <string>.dmp</string>
                        <string>.hdmp</string>
                        <string>.wer</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IgnoreFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>:\moc</string>
                        <string>WebKit.resources</string>
                        <string>iTunes.Resources</string>
                        <string>Apple Application Support</string>
                        <string>Mobile Device Support</string>
                        <string>AuthKitWin.resources</string>
                        <string>lcplugins</string>
                        <string>SAP</string>
                        <string>LogiOptions</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CIMCollect.Properties.Settings>
    </applicationSettings>
</configuration>
